<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello World</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="http://47.119.186.250:1114/tuyoung.css">
    <!-- 引入组件库 -->
    <script src="http://47.119.186.250:1114/tuyoung.umd.js"></script>
</head>
<body>
    <div id="app">
        <t-tabs :selected.sync="selectedTab">
            <t-tabs-head>
                <template slot="actions">
                    <t-button @click="onMore">更多</t-button>
                </template>
            <t-tabs-item name="front">javscript </t-tabs-item>
            <t-tabs-item name="back"> css </t-tabs-item>
            <t-tabs-item name="stack"> icon </t-tabs-item>
            </t-tabs-head>
            <t-tabs-body>
            <t-tabs-pane name="front">
                <ul>
                   <li v-for="i in jsList" :key="i">
                       <a :href="`http://47.119.186.250:1114/${i}`">{{i}}</a>
                   </li>
                </ul>
            </t-tabs-pane>
            <t-tabs-pane name="back"> 
                <ul>
                    <li v-for="i in cssList" :key="i">
                        <a :href="`http://47.119.186.250:1114/${i}`">{{i}}</a>
                    </li>
                 </ul>
               
            </t-tabs-pane>
            <t-tabs-pane name="stack">
                <ul>
                    <li>
                        <a href="http://47.119.186.250:1114/tuyoungSvg.js">图标矢量资源(SVG)</a>
                    </li>
                 </ul>
            </t-tabs-pane>
            </t-tabs-body>
        </t-tabs>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                selectedTab: 'front',
                jsList: [
                    'tuyoung.common.js',
                    'tuyoung.umd.js',
                    'tuyoung.umd.min.js',
                ],
                cssList: [
                    'tuyoung.css'
                ],
            },
            methods: {
                onMore() {
                    this.$showToast({
                        title: '没有更多啦'
                    })
                }
            }
        })
    </script>
</body>
</html>